doctype 5
html
  head
    title= title
    if typeof style.theme=='undefined'
       link(rel='stylesheet', href='/themes/default.css')
    else
       link(rel='stylesheet', href='/themes/#{style.theme}.css')
    script(src='javascripts/assets/jquery/jquery.js')
    script(src='assets/magnific-popup/dist/jquery.magnific-popup.min.js')
    link(rel='stylesheet', href='/assets/magnific-popup/dist/magnific-popup.css')	
    script(src='javascripts/pop.js')
  body

    if typeof  style.custom!='undefined'
      style
         #{style.custom}
    block content
 